# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

/CarrierIntegrationWebApp/bin/
/CarrierIntegrationWebApp/obj/
/SpeedShipIntegrationService/bin/
/SpeedShipIntegrationService/obj/